body {
    background: url("./assets/images/train-1565302668931-8432.jpg") no-repeat center center fixed;
    width: 100%;
}

h1 {
    font-family: 'Ranga', cursive;
    font-size: 80px!important;
}

p {
    font-family: 'Underdog', cursive;
}

#trainSchedule {
    text-align: center;
    
}
#trainInfo {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgba(245, 241, 18, 0.849);
}

th {
    border-bottom: 1px solid black;
    font-size: 25px;
    
}

td {
    border-bottom: 1px solid black;
    text-align: center!important;
    font-size: 18px;
    font-family: 'Underdog', cursive;
    
}

form {
    margin: 20px;
}

.jumbotron {
    background: rgba(241, 113, 9, 0.658)
}

button {
    border-radius: 5px;
}

button:hover {
    background-color:rgba(251, 255, 7, 0.884);
    transition-duration: 0.4s;
  }

.form-control {
    background-color: rgba(236, 35, 80, 0.8);
    width: 50%;
}

label {
    color: white;
    background-color: rgba(56, 47, 49, 0.658);
    padding: 5px;
    border-radius: 10px;
    width: 12%;
}

.form-control::placeholder {
    color: rgb(61, 51, 53)
  }