body {
    background: palegreen;
}

#trainSchedule {
    text-align: center;
}
#trainInfo {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 20px;
}

th {
    border-bottom: 1px solid black;
}

td {
    border-bottom: 1px solid black;
    text-align: center!important;
    
}